{{! Maintainers - Kev Adsett}}
<div class="component-inner textinput-inner">
    {{> component this}}
    {{! complex unless and if combination to set the correct classes for CSS to use in showing marking and disabled states}}
    <div class="component-widget textinput-widget {{#unless _isEnabled}} disabled {{#if _isComplete}} complete submitted user {{#if _isCorrect}}correct{{/if}} {{/if}} {{/unless}}">
        {{#each _items}}
        <div class="textinput-item component-item component-item-color component-item-border clearfix {{#unless ../_isEnabled}}{{#if correct}}correct{{else}}incorrect{{/if}}{{/unless}}">
            {{#if prefix}}
                <label class="textinput-item-prefix component-item-text-color">{{{prefix}}}</label>
            {{/if}}
            {{#if ../_isEnabled}}
                <input type="text" placeholder="{{../placeholder}}" class="textinput-item-textbox" data-id="input-{{@index}}" value="">
            {{else}}
                <input type="text" placeholder="{{../placeholder}}" class="textinput-item-textbox" data-id="input-{{@index}}" value="{{userAnswer}}" disabled="true">
            {{/if}}
            {{#if suffix}}
                <label class="textinput-item-suffix component-item-text-color">{{{suffix}}}</label>
            {{/if}}
            <div class="textinput-item-state">
                <div class="textinput-icon textinput-correct-icon icon icon-tick"></div>
                <div class="textinput-icon textinput-incorrect-icon icon icon-cross"></div>
            </div>
        </div>
        {{/each}}
        {{! if statements set default button labels if unset in json}}
        <div class="buttons">
            {{> buttons this}}
        </div>
    </div>
</div>