{{! Maintainers - Kevin Corry}}
<div class="component-inner iFrame-vimeo-inner">
  <div class="media-title component-title">
    <h4 class="media-title-inner component-title-inner">
    	{{ title }}
    </h4>
  </div>
  <div class="media-body component-body">
    <div class="media-body-inner component-body-inner">
    	{{ body }}
    </div>
  </div>
  <div class="media-instruction component-instruction">
    <div class="media-instruction-inner component-instruction-inner">
    	{{ instruction }}
    </div>
  </div>
   <div class="component-widget iFrame-vimeo-widget">
    <div class="iFrame-vimeo-iframe-holder">
      <iframe scrolling="no" class="iFrame-vimeo-iframe" src="{{_source}}"
        data-height-large="{{_height._large}}" data-height-medium="{{_height._medium}}" data-height-small="{{_height._small}}"
        data-width-large="{{_width._large}}" data-width-medium="{{_width._medium}}" data-width-small="{{_width._small}}">
      </iframe>
    </div>
  </div>
</div>
